// @import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#main-container {
  width: 100%;
}

.big {
  zoom: 5;
}

section {
  text-align: center;
  min-height: 120px;
  padding: 100px 0px;

  &:nth-of-type(2n) {
    background-color: $gray;
  }

  &:nth-of-type(2n+1) {
    // background-color: white;
  }

  &.morepadding {
    padding: 200px 0px;
  }
}

.carousel-container {
  width: 50%;
  margin: 0 auto;
}

.bar {
  width: 100%;
  height: 40px;
  background-color: $green;

  &:nth-of-type(2) {
    background-color: darken($green, 10);
  }

  &:nth-of-type(3) {
    background-color: darken($green, 20);
  }

  &:nth-of-type(4) {
    background-color: darken($green, 30);
  }

  &:nth-of-type(5) {
    background-color: darken($green, 40);
  }
}

.fixed-background {
  position: static;
  background: url('../data/img/flower.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  max-height: 300px;
}

.social-icons {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.centered-list {
  text-align: center;
  list-style-type: none;

  li {
    display: inline-block;
  }
}

.quote {
  position: relative;
  top: calc(50% - 25px);
  font-size: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 6px 6px red;
}

// Media queries.
@media screen and (max-width: 40em) {
  body {
    font-size: 34px;
  }

  section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .carousel-container {
    width: calc(100% + 80px);
    margin-left: -40px;
  }

  .fixed-background {
    background-size: auto 100%;
  }

  .social-icons i.big {
    zoom: 2;
  }
}

@media screen and (max-width: 64em) {
  body {
    font-size: 29px;
  }

  section {
    padding-left: 80px;
    padding-right: 80px;
  }

  .carousel-container {
    width: 80%;
  }

  .social-icons i.big {
    zoom: 3;
  }
}
