@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
  background-color: black;
  color: white;
}

.top-bar .name h1 a {
  color: $beige;
}

ul.tabs {
  margin-left: 25px;
  padding-bottom: 25px;
}

#galleryView {
  margin-bottom: 120px;

  h2 {
    padding-left: 25px;
  }

  .result {
    width: 120px;
    height: 160px;
    margin: 14px;
    background-size: cover !important;

    .title {
      font-size: 18px;
      font-weight: normal;
    }
  }

  .backdrop {
    opacity: 0;
    transition: 0.2s ease opacity;
    background-color: rgba(darken($gray, 20), 0.8);

    &:hover {
      opacity: 1;
    }
  }
}

.side-nav {
  li {
    line-height: 10px;
    margin: 0;
  }
}

.nomargin {
  margin: 0;
  max-width: inherit;
}

.search-results {
  .result {
    width: 300px;
    height: 120px;
    margin: 24px;
    cursor: pointer;
    float: left;

    .title {
      font-size: 22px;
      font-weight: lighter;
    }

    &:hover {
      color: black;
      font-weight: 400;

      .backdrop {
        background-color: rgba(darken($gray, 10), 0.5);
      }
    }
  }
}

.backdrop {
  padding: 4px;
  height: 100%;
  width: 100%;
  background-color: black;
  transition: 0.1s ease background-color;
}

.movie-details {
  h1 {
    color: white;
  }

  img {
    height: 330px;
  }

  .detail-navbuttons {
    margin-top: 5px;
  }

  .button {
    line-height: 4px;
  }
}