<div ng-controller="detailController">
	<div ng-model="movie" class="movie-details">
		<div class="row">
			<div class="medium-3 columns">
				<img src="./data/images/{{movie.imdbID}}.jpg">
				<div class="row detail-navbuttons">
					<div class="small-6 columns">
						<a ng-click="prevDetail(movie.rank)" class="button">prev</a>
					</div>
					<div class="small-6 columns">
						<a ng-click="nextDetail(movie.rank)" class="button">next</a>
					</div>
				</div>
			</div>

			<div class="medium-9 columns">
				<h1>{{movie.title}}</h1>
				<dl>
					<dt>#{{movie.rank}}: <span ng-repeat="genre in movie.genre">{{genre}} </span> 
						<label>{{movie.released}} - runtime: {{movie.runtime}}</label>
					</dt><dd>{{movie.plot}}</dd><dl>rating: {{movie.rated}}</dl>
					<br>
					<dt></dt>
					<dd>Directed by <span ng-repeat="d in movie.director">{{d}} </span></dd>
					<dd>Starring <span ng-repeat="a in movie.actors">{{a}}, </span></dd>
					<dd>IMDB {{movie.imdbRating}} voted by {{movie.imdbVotes}}</dd>
					<dd>{{movie.awards}}</dd>
				</dl>
			</div>
		</div>
	</div>
</div>