<div ng-controller="galleryController" id="galleryView">
  <h2>Select a genre</h2>
  <div class="row nomargin">
    <div class="medium-1 columns">
      <ul class="side-nav">
        <li ng-repeat="genre in genres" ng-click="setGenre(genre)">
          <a href="#/gallery">{{genre}}</a>
        </li>
      </ul>
    </div>

    <div class="gallery-container medium-11 columns">
      <div class="search-results">
        <div>
          <div style="background:url('./data/images/{{result.imdbID}}.jpg')" class="result" ng-repeat="result in imdbData | filter:query" ng-click="selectMovie(result)">
            <div class="backdrop">
              <span class="title">{{result.title}}</span>
              <p>#{{result.rank}}  rating: {{result.imdbRating}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
