<div ng-controller="listController">
  <div class="row nomargin">
    <div class="large-8 columns">
      <input type="text" placeholder="Search" class="large-6 columns" ng-model="query"/>
    </div>

    <div class="large-4 columns">
      <select ng-model="sorting" ng-init="sorting='title'">
        <option value="title">Title</option>
        <option value="rank">Rank</option>
      </select>

      <div>
        <input type="radio" value="" ng-model="ascending" ng-init="ascending=''">
        <label for="ascending">Ascending</label>
        <input type="radio" value="false" ng-model="ascending">
        <label for="descending">Descending</label>
      </div>
    </div>
  </div>

  <div class="search-results">
    <div>
      <div style="background:url('./data/images/{{result.imdbID}}.jpg')" class="result" ng-repeat="result in imdbData | filter:query | orderBy:sorting:ascending" ng-show="query.length" ng-click="selectMovie(result)">
        <div class="backdrop">
          <span class="title">{{result.title}}</span>
          <p>#{{result.rank}}  rating: {{result.imdbRating}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
